body {
    background-color: rgb(230, 185, 167);
}

hr {
    border-style: none;
    border-top: 10px dotted chocolate;
    width: 10%;
}

h1 {
    color: chocolate;
}

h3 {
    color: chocolate;
}